.info{
    padding: 1px 30px;
    height: 800px;
}
.panel-title{
    margin:10px 0;
}
.title{
    padding: 0px;
    font-size: 30px;
    letter-spacing: -1px;
    color: #666;
    margin: 20px 0px 15px 0px;
    font-weight: 300;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}
.small-title{
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #888;
}
.crumbs-nav{
    margin:12px 0px;padding:12px 0;background: #eeeeee;
}
.layui-breadcrumb{
    padding:0  12px;
    visibility: visible;
}
.panel-header{
    background: #009688 ;padding: 12px;
}

