.wrapper {
    display: grid;
    grid-gap: 10px;
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-rows: auto;
    grid-template-cols: repeat(4, 1fr);
}
.one {
    grid-column: 1;
    grid-row: 1;
}
.two {
    grid-column: 2;
    grid-row: 1;
}
.three {
    grid-column: 3;
    grid-row: 1;
}
.four {
    grid-column: 4;
    grid-row: 1;
}
.five {
    grid-column: 1/span 2;
    grid-row: 2;
}
.six {
    grid-column: 3;
    grid-row: 2;
}
.wrapper>div{
    padding:10px;
    background: #00F7DE;
}
.box{
    position: relative;
    height: 150px;


    background: #3F3F3F;
}
.box>div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box>span{
    position: absolute;
    margin-top: 125px;
    margin-left: 10px;
}
.icon_style{
    font-size: 30px; color: #1E9FFF;
}
iframe{
    height: 900px;
    width: 100%;
}
html {
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}
html::-webkit-scrollbar{width:0px}



